.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.vertical-column {
  flex: 23%;
  padding: 0 4px;
}

.horizontal-column {
    flex: 48%;
    padding: 0 4px;
}

.vertical-column img, .horizontal-column img {
  width: 100%;
  margin-top: 8px;
  vertical-align: middle;
}

