body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
}

ul {
    display: block;
    list-style-type: disc;
    margin-bottom: 1.5rem;
}

li {
  margin-left: 15px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #ccc;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 1.5rem;
}

.container {
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.custom-link {
  font-weight: bold;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#content-wrap a {
  color: #a82d4d;
}

#content-wrap a:hover, #content-wrap a:focus, #content-wrap a:active {
  color: #c493a1;
}

#footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding-bottom:0.5rem;
}
